.card{
  display: flex;
  justify-content: center;
}
div.cardbackgroundColor{
  border: 1px solid black;
  border-radius: 10%;
}
img{
  height: 300px;
  width: 400px;
  padding-top: 65px;
  padding-bottom: 65px;
  padding-left: 65px;
  padding-right: 65px;
}


.card-text {
    margin: 171px 39px 0 96px;
}
h3{
  font-family: 'Cedarville Cursive', cursive;
  text-decoration: underline;
}
.price, .statement{
  font-family: 'Ubuntu Condensed', sans-serif;
}