.header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h4 {
    color: rgb(219, 128, 49);
    display: inline-flex;
}

.messages {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 20px 0px;
    padding: 50px;
}

#main {
    margin: 30px;
    border: 1px solid black;
}

.message {
    padding: 5px;
}

.right {
    align-self: flex-end;
    background-color: lightblue;
}

.left {
    align-self: flex-start;
    background-color: burlywood;
}
