body{
    background-color: aqua;
}

.titleLgHeader {
    text-align: center;
    font-family: 'Lana, serif';
    font-weight: bold;
    background-color: linear-gradient(rgb(209, 14, 47) , rgb(21, 100, 170), rgb(26, 207, 26));

}

.main {
    border: 1px solid black;
    width: 50%;
    margin: auto;
}

#submitItem {
    border: 1px solid black;
    text-align: center;
    width: 80px;
    position: relative;
    left: 45%;
}

.input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.label {
    margin: 10px;
}

#list {
    flex-direction: column;
    display: flex;
}

#list > li{
    list-style-type: none;
    margin: 10px auto;
}

#list div {
    margin-bottom: 10px;
    text-align: center;
}

.deleteItem{
    width : 30px;
    height: 40px  ;
}