.header , 
h1 {
    position: relative;
    text-align: center;
    left: 70px;
}
h2{
    text-align: center;
    right: 20px;
    padding-bottom: 25px;
}
.name{
    color: peachpuff;
    text-align: center;
}

.messages {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 20px 0px;
    padding: 50px;
}

#main {
    margin: 30px;
    border: 1px solid black;
}

.message {
    padding: 5px;
}

.messagesRight {
    align-self: flex-end;
    background-color: aquamarine;
    
}

.messagesLeft {
    align-self: flex-start;
    background-color: coral;

}
#default {
    background-color: black;
    color: white;
}
themeOne {
    background-color: saddlebrown;
    color: lightblue;

}
#themeTwo{
    background-color:red; 
    color:slategrey
}
#themeThree{
    background-color: rgb(127, 225, 127); 
    color: rgb(204, 151, 15)
}
#themeFour{
 background-color: orangered; 
 color: rgb(252, 252, 5)
}