h1{
  text-align: center;
}
form{
  background-color: #308495;
}

.form-control{
  padding-top: 10px;
  border: 1px solid #308495;
  background-color: #308495;
  display: flex;
  flex-direction: row;
  height: 50px;
  flex-wrap: wrap;
  margin-top: 25px;
  justify-content: space-around;
}
input{
  height: 25px; 
}
.submit-button-container{
    margin-top: 45px;
    display: flex;
    width: 100%;
    justify-content: center;

}
.submit-button{
  border: none;
  width: 145px;
 height: 25px;
 margin-bottom: 35px;
 box-shadow: inset 1px 1px 3px #ccc;
 border-radius: 5px;
  text-align: center;
  

}
.submit-button:hover{
  font-style: italic;
}

.input-title, 
.input-description, 
.input-image
{
  box-shadow: inset 1px 1px 3px #ccc;
  border-radius: 5px;
  text-align: center;
}
.listItem{
width: 100%;
display: flex;
text-align: center;
flex-direction: column;
}
.list{
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
}

.result-image{
  margin-bottom: 15px;
  height: 150px;
  width: 250px;
  align-self: center;
  padding-top: 5px;
}
.list-title{
  border: none;
  background-color: white;
  color: black;
  text-align: center;
}
.list-description{
  text-align: center;
  border: none;
  background-color: white;
  color: black;
  padding-top: 15px;
  padding-bottom: 15px;
}
.list-link{
  display: none;
}