/* .issue-form{
  display: flex;
  flex-direction: column;
  border: 1px solid black;

} */
.card{
  display: flex;
  flex-direction: column;
  max-width: 100%;

}


.buttons-container{
  display: flex;
  flex-direction: row;
  width: 50px;
  margin-left: 35px;
  justify-content: center;
}

.votes-container{
  display: flex;
  flex-direction: row;
  height: 35px;
}

.modal-overlay {
  position: fixed;
  width: 225vh;
  height: 68vh;
  background-color: rgba(40, 10, 122, 0.6);
  z-index: 5;
  display: none;

  justify-content: center;
  align-items: center;
}

.modal-overlay-open {
  display: flex;
  text-align: center;
  
}

.modal {
  z-index: 6;
}

.modal-btn {
  position: absolute; 
  border-radius: 3px;
  padding: 8px;
  right: -16px; 
  top: -16px;
}



.card-body{
  font-size: 10px;
}


.card-title{
  text-decoration: underline;

}