.deck{
  align-items: center;
  border-radius: 1%;
  display: flex;
  font-family: 'Itim', sans-serif;
  max-width: 100%;
  border : 2px inset #000;
  height: 200px;
  width: 600px;
  cursor: pointer;
  margin-top: 50px;
}
.decks-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: space-around;
  text-align: center;
  row-gap: 50px;
}

/* .deckbutt{
  
} */

.deck-cardnum-butt-flex{
  display: flex;
  flex-direction: column;
}

.page{
  background-color: #ffffff;
  font-family: 'Alkatra', cursive;
  padding-bottom: 80px;
}

.deck-grid{
  padding-bottom: 20px;
  padding-top: 30px;
}

.card-length{
  align-items: center;
}
.title-deck{
  font-family: 'Georgia', sans-serif;
}
.title-card{
  font-family: 'Georgia', sans-serif;
}