h1{
  font-size: 35px;
  text-align: center;
}
.form-control{
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  width: 182px;
}

body {
box-sizing: border-box;
font-family: 'Itim', cursive;
display: flex;
justify-content: center;
}
.color-square{
  height: 300px;
  width: 300px;
  margin-left: 10%;
}
