h1{
    position: relative;
    padding-top: 20%;
    
}

body{
    background-image: url('https://tse1.mm.bing.net/th?id=OIP.GWWA5TfO4WAlBtuGP726-gHaEo&pid=Api&rs=1&c=1&qlt=95&w=196&h=122');
    background-repeat: no-repeat;
    background-position: center;
}