#root {
  text-align: center;
}
.routes{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

body{
  background-color: #ffffff;
  max-width: 100%;
}


.nav-links-container{
  display: flex;
  flex-direction: row;
}
.main-header-image{
  height: 390px;
  padding-bottom: 1rem;
  width: 355px;
  background-image: url("./assets/images/Buddy.png");
  background-position: center;
}
.auth-container{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}


.Timer{
  max-width:64% ;
}

.Study-Container{
  max-width: 100%;
}
.Study{
  max-width: 100%;
}
.Stopwatch{
  padding-top: 25px;
  max-width: 100%;
}

.Quiz{
  max-width: 100%;
}

.Profile{
  max-width: 100%;
}
.Navbar{
  max-width: 100%;
}
.LoginPage{
  max-width: 100%;
}
.Home{
  max-width: 100%;
}
.Footer{
  max-width: 100%;
}
.Explanation{
  max-width: 100%;
}
.Decks{
  max-width: 100%;
}
.Deck{
  max-width: 100%;

}
.Card{
  max-width: 100%;
}
.AuthForm{
  max-width: 100%;
}
.Auth{
  max-width: 100%;
}
.container{
  padding: 0.01em 16px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}