footer{
  border-top: 5px inset black;
  max-width: 100%;
  margin-top: 7rem;
}
.logo-image-container{
  background-image:url("../../images//lightBulb.png");
  background-size: cover;
  background-repeat: no-repeat;

  background-attachment: center;
  height: 200px;
  width: 200px;
}
.footer-links{
  display: flex;
  flex-direction: row;
  padding-bottom: 0;
}

.footer-links-left{
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 8rem;
}
.footer-links-right{
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 8rem;
}
.footer-button{
  border: none;
  background-color: transparent;
  color: black;
  font-size: 1rem;
  }
.footer-button:hover{
  color: 	#00A86B;
  background-color: darkmagenta;
  border-color: black;
}
.bar{
  border: 1px solid #00A86B;
  width: 235px;

}


.conrad, .kyle ,.sharon{
  font-style: oblique;
}
.footer-contributions{
  margin-top: 1.5rem;
}


.author-link{
  text-decoration: none;
}
.author-link:hover{
  font-size: 20px;
  color: darkmagenta;
  font-style: normal;
}