.timer-header,
.stopwatch-header {
  font-family: 'Noto Sans Mono', monospace;
  font-size: 25px;
  font-weight: bold;
  color: black;
  padding:1rem 1rem;
}

button {
  border: solid 1px #000;
  border-radius: 4px;
  padding: 10px 20px;
  color: black;
  font-size: 14px;
  margin: 0 5px;
  cursor: pointer;
  font-weight: 900;
  height: 45px;
}
.stopwatch-display {
  padding: 40px 0;
  font-size: 40px;
  color: #000;
}

.timer-display {
  margin-top: 5px;
  margin-bottom: 10px;
  color: #000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
}
.timer-display button {
  margin: 0 15px;
  color: #000;
  font-size: 16px;

}
.timer-display button:hover {
  background-color: #000;
  color: #fff;
}
.timer-label {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #000;
}

.timer-time {
  font-size: 34px;
  margin: 5px 0;
  color: black;
  font-family: 'Itim', sans-serif;
} 

.question-list{
  border: 1px solid black;
  height: 650px;
  max-width: 100%;
  overflow-y: scroll;
  margin: 0 auto;
  font-family: 'Itim', sans-serif;
}
.study{
  display: flex;
  flex-direction: row;
  height: 100%;
}
select{
  color: black;
}
.timers-and-list-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 100%;
}
.study-list{
  list-style: none;
  max-width: 100%;
}

.answer-quiz-button{
  font-family: 'Noto Sans Mono', monospace;
}



.card-quiz-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 100%;
}


label{
  font-family: 'Noto Sans Mono', monospace;
}
#deck-select{
  font-family: 'Noto Sans Mono', monospace;
}

.quiz-component{
  display: flex;
  flex-direction: column;
}


@media only screen and (max-width: 901px) {
  .timers-container {
    flex-direction: column;
    align-items: center;
  }
  .stopwatch {
    margin-bottom: 40px;
  }
}


@media only screen and (max-width: 770px){
  .timers-and-list-container{
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
  .timers-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 321px){
  .timers-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .stopwatch{
    width: auto;
  }
} 



.timers-section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.increment-button, .decrement-button{
  border: 1px solid black;
  background-color: #6292ab;
}
.start-button, 
.reset-button, 
.resume-button, 
.stop-button{
  background-color: #6292ab;
}


/* poptart squiggle icing  #6292ab */
/* poptart filling #a62627        */
/* poptart covered icing   #9370a0 */
/* poptart crust  
#d49969 */