/* App.js style */
*{
  box-sizing: border-box;
}
body{
  background-color: #23252C;
  padding-bottom: 20%;
}
.app--container{
width: 517px;
height: 868px;
background-color: black;
text-align: center;
margin: 20px auto;


}

.body--container{

color: #f5f5f5;
text-align: center;

}

.footer--container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 12%;
  padding-bottom: 8%;
  border: 1px solid black;
  border-radius: 0 0 10px 10px;
}

.header--container{
  text-align: center;
  background-color: black;
  border: 1px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
 


}
.fa-brands{
  color:#d1d5db;
  font-size: 35px;

}
.fa-brands:hover{
  color: black;
  background-color: blue;
}



.btn--email{
  box-sizing: border-box;
  padding: 9px 13px 9px 11px;
  width: 247px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  height: 34px;
  left: 151px;
  top: 469px;

}
h2{
  color: white;
  font-size: 25px;
  line-height: 30px;
}
h3{
  color: #F47D27;
  font-size: 12.8px;
  line-height: 15px;
  text-align: center;

}
.website{
  font-size: 10.24px;
}
.about-text{
  font-family: 'Inter';
  font-style: normal;
  font-size: 15.24px;
  line-height: 150%;
  padding-left: 14%;
  padding-right: 14%;
  text-align: left;  
  color: white;
}

.interests-text{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15.24px;
  line-height: 150%;
  padding-left: 14%;
  padding-right: 14%;
  text-align: left;
  color: white;
}
.about-title{
  text-align: left;
  padding-left: 14%;
  font-size: 20px;
}
.interests-title{
  text-align: left;
  padding-left: 14%;
  font-size: 20px;
}
