*{
  box-sizing: border-box;
}

body { 
  margin: 0;
  font-family: Inter, sans-serif;
  height: 100vh;
  background-color: #282D35;
}
img{
  height: 40px;
  width: 30px;
}
nav{
  display: flex;
  align-items: center;
  background-color: #21222A;
  height: 91px;
  width: 550px;
  padding: 30px 25px;
  
}

.nav--logo_text, .nav--title{
  margin: 0;
}
.nav--logo_text{
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700;
  font-size: 22px;
}
.nav--title {
  color: #DEEBF8;
  font-weight: 600;
}
.nav--icon{
  height: 30px;
  margin-right: 7px;
}
main{
  padding: 57px;
  width: 550px;
}
.main--title{
  margin:0;
  font-size: 39px;
  letter-spacing:  -0.05em;
  color: #ffffff;

}
.main--facts{
  margin-top: 46px;
  max-width: 550px;
  color: #ffffff;
}
.main--facts > li{
  line-height: 19px;
  padding-block: 10px;
}

.main--facts > li::marker{
  color: #61DAFB;
  font-size: 1.4rem;
}

.main--image-large{
background-repeat: no-repeat;
position: absolute;
left: 72.45%;
right: 2.14%;
top: 30.65%;
bottom: 7.65%;
/* background-position: right 75%; */
}
