*{
box-sizing: border-box;

}
body{
  overflow-x: hidden;
}
/* HEADER CSS */
.head{
  padding: 15px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 4px solid #9dffb0;
  height: 175px;
  margin: 0;
}
h1{
  text-align: center;
  color:navy
}

.left-header-image{
  height: 250px;
  width: 250px;
  background-image: url(../Images/headerImageLeft.jpeg);
  background-repeat: no-repeat;
}
.right-header-image{
  height: 250px;
  width: 250px;
  background-image: url(../Images/headerImageRight.jpeg);
  background-repeat: no-repeat;
}

footer{
  bottom: 0px;
  width:100%;
  height:100px;   

}

.foot{
  /* negative value of footer height */
  display: flex;
  flex-direction: row;
  position: sticky;
  justify-content: space-between;
  border: 5px solid rgba(156, 29, 29, 0.266);
  background-color: white;

}

.left-column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 22px;
}
.right-column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 25px;
  padding-right: 25px;
}
.image-container{
  height: 85px;
  width: 85px;
  padding-top: 15px;
}
.leaf-image{
  height: 45px;
  width: 45px;
  border: 3px outset limegreen;
}
.leaf-image:hover{
  rotate: 90deg;
}
.linkedIn-link{
  text-decoration: none;
}
.github-link{
  text-decoration: none ;
}
.thank-you-link{
  display: flex;
  flex-direction: row;
}

.header-nav{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: absolute;
  margin: 0;
  padding: 0;
}
.navLink{
  text-decoration: none;
  color: black;
  padding-right: 15px;
}

@media only screen and (max-width: 750px) {
  /* For mobile phones: */
  .right-header-image{
    background-image: url(/src/assets/Images/rod.jpeg);
    margin-left: 85px;
  }
  .left-header-image{
    display: none;
  }
  .foot{
    position: sticky;
    overflow-x: hidden;
  }
}
@media only screen and (max-width: 1100px){
  .foot{
    position: sticky;
    overflow-x: hidden;
  }
}
@media only screen and (max-width: 2000px){
  .foot{
    position: sticky;
    overflow-x: hidden;
  }
}
  
