body{
  box-sizing: border-box;
 
  width: 768px;
  height: 798px;
  margin: 0 auto;
}

.heading{
  display: flex;
  justify-content: center;
  font-family: 'Itim', cursive;
}

form{
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  height: 300px;
  width: 100%;
}
label{
  font-family: 'Itim', cursive;
  text-align: center;
}
button{
  width: 187px;
  background-color: #0dcaf0;
}
.question-answer-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 55px;
  font-family: 'Itim', cursive;
}

.outcome-answer{
  display: none;
  cursor: crosshair;
}
.outcome-answer:hover{
  display: flex;
}

.delete-button{
  margin-top:35px ;
}

.user-question{

  margin-bottom: 25px;
}
.user-answer{
  margin-bottom: 25px;
  align-self: center;
}
.user-submit{
  margin-left: 45px;
}