
.navigation-routes{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #2b8cb3;
  opacity: 80%;
  border-top: 4px inset #00A86B;
  border-bottom: 4px inset #00A86B;
  font-family: 'Alkatra', cursive;

}
.button-routes{
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: 'Alkatra', cursive;
  font-family: 'Noto Sans Mono', monospace;
}