.icon{
  display: flex;
  flex-direction: row;
  justify-content: center;
}


 .customization-icon{
  background-image: url('../src/assets/images/customization-icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 120px;
  height: 106px;
  margin-bottom: 30px;
 }

 .quiz-icon{
background-image: url('../src/assets/images/timer-icon.png');
background-size: contain;
background-repeat: no-repeat;
background-position: center;
width: 120px;
height: 106px;
margin-bottom: 30px;
 }
 .notes-icon{
  background-image: url('../src/assets/images/notes-icon.png');
  background-size: contain;
background-repeat: no-repeat;
background-position: center;
width: 120px;
height: 106px;
margin-bottom: 30px;
 }


#newsletter{
  padding-top: 15rem;
}
