.icon{
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
}


 .customization-icon{
  background-image: url('../src/assets/images/customization-icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 120px;
  height: 106px;
  margin-bottom: 30px;
 }

 .quiz-icon{
background-image: url('../src/assets/images/timer-icon.png');
background-size: contain;
background-repeat: no-repeat;
background-position: center;
width: 120px;
height: 106px;
margin-bottom: 30px;
 }
 
.notes-icon{
  background-image: url('../src/assets/images/notes-icon.png');
  background-size: contain;
background-repeat: no-repeat;
background-position: center;
width: 120px;
height: 106px;
margin-bottom: 30px;
 }
.footer-content{
  margin-top: 2rem;
}
.modal{
  color: #fff;
}

#newsletter{
  padding-top: 5.5rem;
  text-align: center;
}
@media screen and (min-width: 766px) {

.col-lg-3{
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}    
.authors-container{
  display: flex;
  flex-direction: row;
 
  text-align: center;
}
.copyright-container{
  margin-top: 1rem;
  text-align: center;
}
}


.App{
  max-width: 1560px;
  max-height: 120vh;
}
.Decks{
  max-width: 100%;
  border: 1px solid black;
}