.Card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f5f558;
  width: 500px;
  height: 160px;
  border: solid black 1px;
  border-radius: 2%;    
  font-size: 12px;
}

.tform{
  transform: scale(.7);
}

.card-buttons{
  display: flex;
  justify-content: flex-end;
}


.answer{
  font-style: italic;
  color: blue;
  font-size: 19px;
}