footer{
  border-top: 5px inset black;
  height: 300px;
  margin-top: 80px;
  max-width: 100%;
}
.logo-image-container{
  background-image: url("../images/lightBulb.png");
  background-size: cover;
  background-repeat: no-repeat;

  background-attachment: center;
  height: 200px;
  width: 200px;
}
.footer-links{
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

.footer-links-left{
  display: flex;
  flex-direction: column;
  
}
.footer-links-right{
  display: flex;
  flex-direction: column;
}
.footer-button{
  border: none;
  background-color: transparent;
  color: black;
  font-size: 15px;
  
}
.footer-button:hover{
  color: 	#00A86B;
  background-color: darkmagenta;
  border-color: black;
}
.bar{
  border: 1px solid #00A86B;
  width: 235px;

}


.conrad, .kyle ,.sharon{
  font-style: oblique;
}
.footer-contributions{
  margin-top: 20px;
}


.author-link{
  text-decoration: none;
}
.author-link:hover{
  font-size: 20px;
  color: darkmagenta;
  font-style: normal;
}