.CardInput{
  margin-bottom: 1rem;

}

.CardInput label{
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 14px;
}
.CardInput input{
  padding: 0.5rem 0.75rem;
  width: 100%;
  font-size: 1rem;
}