html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.navbar{
  margin: 0 auto;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.auth-container{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;
  align-content: center;
  border: 4px ridge black;

}

.nav-link{
  padding-left: 15px;
  padding-right: 35px;
}

/* issues section */
.issue-form{
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}
.issue-container{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap; 
   align-content: center;
  padding-top: 25px;


}
.issue-title{
  font-size: 35px;
}
.issue-description{
  font-size: 15px;
}
.issue-card{
  border: 5px ridge black;
  width: 100%;
  padding-right: 35px;
  padding-left: 35px;
  padding-top: 15px;
  padding-bottom: 15px;

}




/* COMMENT SECTION */

.comment-list{
  border: 1px solid black;
}