*{
  box-sizing: border-box;
  width: auto;
  margin: 0 auto;

}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: fit-content;
} 

