* {
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 3px;
}
/* 
form > input {
  margin: 8px 0;
  padding: 8px
} */

/* form > button {
  padding: 8px;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

form {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 3px;
}

form > input {
  margin: 8px 0;
  padding: 8px
}

form > button {
  padding: 8px;
}

